.search {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}

.search_bar {
    height: 80px;
    width: var(--search-box-width);
    border-bottom: 2px var(--grey) solid;
    transition: border-bottom 0.3s;
    font-size: 36pt;
    display: flex;
}

.search input {
    width: 100%;
    background-color: var(--vanilla);
    color: var(--dark);
    font-size: 36pt;
    border: none;
    outline: none;

    margin-bottom: 4px;
}

.search input:focus {
    outline: none;
}

.search_bar:focus-within {
    border-bottom: 2px var(--green) solid;
}

.search_icon {
    position: relative;
    top: 4px;

    margin: 0 16px;
    color: var(--grey)
}

.close_icon {
    position: relative;
    top: 4px;
    height: 74px;

    background-color: var(--vanilla);
    color: var(--grey);
    font-size: 36pt;
    border: none;

    margin-right: 4px;
}

.close_icon:hover {
    cursor: pointer;
}

.search_results {
    position: absolute;
    left: calc(50vw - var(--search-box-width) / 2 - 16px);

    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: calc(var(--search-box-width) + 32px);
    padding: 0 16px;
    list-style: none;

    background-color: #ededed;
}

.search_result a {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 36pt;
    color: inherit;
    text-decoration: none;

    height: 120px;

    border-bottom: 2px var(--grey) solid;
}

.search_result h1 {
    font-size: 36pt;
    font-weight: inherit;
}

.search_result img {
    border-radius: 24px;
}