* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --vanilla: #FCF8E8;
    --green: #28B958;
    --dark: #04080F;
    --grey: #5F5F5F;
}

body {
    background-color: var(--vanilla);
    color: var(--dark)
}